:root {
    --width-webgl: 140;
    --height-webgl: 100;
}

@font-face {
    font-family: "SpaceGrotesk";
    font-weight: 700;
    src: url(/fonts/SpaceGrotesk.woff2) format("woff2");
}

h1 {
    text-align: center;
    position: relative;
}

.tableMain {
    margin: 0 auto;
}

.headerLinkText {
    text-decoration: none;
    font-size: 15e;
    position: relative;
    color: rgb(146, 146, 236);
    transition: letter-spacing 0.5s;
    transition-timing-function: ease-in-out;
}

.headerLinkText:hover {
    letter-spacing: 1em;
    width: fit-content;
}

.headerLinkText:hover::after {
    width: 90%;
}

.headerLinkText::after {
    content: "";
    position: absolute;
    background-color: brown;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    transition: width .2s;
}

.divWelcome {
    font-family: "SpaceGrotesk";
    padding-inline: 5px;
    font-weight: bolder;
    color: azure;
    border: 5px solid black;
    height: fit-content;
    width: 35em;
}

.webGLcanvas {
    border: 1px solid snow;
    margin-top: -10px;
}

.lastUpdatedArticle {
    font-family: "SpaceGrotesk";
    font-size: large;
    vertical-align: auto;
    color: azure;
    width: 10em;
    border: 5px solid black;
}