:root {
    --width-webgl: 400;
    --height-webgl: 400;
}

@font-face {
    font-family: "SpaceGrotesk";
    font-weight: 700;
    src: url(/fonts/SpaceGrotesk.woff2) format("woff2");
}

h1 {
    color:brown
}

.divWelcome {
    font-family: "SpaceGrotesk";
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
    border: 5px solid black;
    width: 25em;
    height: 5em;
}

.WebGLThing {
    box-sizing: border-box;
    width: var(--width-webgl);
    height: var(--height-webgl);
}

.lastUpdatedArticle {
    font-family: "SpaceGrotesk";
    font-size: large;
    width: max-content;
    border: 5px solid black;
}